@model PasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<partial name="_ProfilePartial" />

<div class="flex justify-center">
    <div class="sm:w-96 w-full">
        <h1 class="font-bold text-xl">Change Password</h1>

        <form method="post" asp-controller="Account" asp-action="ChangePassword" enctype="multipart/form-data" class="form-control">
            <div asp-validation-summary="All" class="text-red-400"></div>

            <label class="label">
                <span class="label-text">Enter your old password</span>
            </label>
            <input asp-for="Password" type="password" placeholder="Enter old password" class="input input-bordered">
            <span asp-validation-for="Password" class="text-red-400"></span>
            <label class="label">
                <span class="label-text">Confirm password</span>
            </label>
            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm password" class="input input-bordered">
            <span asp-validation-for="ConfirmPassword" class="text-red-400"></span>
            <label class="label mt-3">
                <span class="label-text">Enter new password</span>
            </label>
            <input asp-for="NewPassword" type="password" placeholder="Enter new password" class="input input-bordered">
            <span asp-validation-for="NewPassword" class="text-red-400"></span>


            <div class="flex gap-2 justify-end">
                <button type="submit" class="btn btn-success mt-3">Update</button>
            </div>
        </form>
    </div>
</div>
