@model ProfileViewModel
@{
    ViewBag.Title = "Edit user";

}
<partial name="_ProfilePartial"/>

<div class="flex justify-center">
    <div class="sm:w-96 w-full">
        <h1 class="font-bold text-xl">Edit</h1>

        <form method="post" asp-controller="Account" asp-action="Edit" enctype="multipart/form-data" class="form-control">
            <div asp-validation-summary="All" class="text-red-400"></div>
            <label class="label">
                <span class="label-text">Username</span>
            </label>
            <input asp-for="UserName" type="text" placeholder="Enter username" class="input input-bordered">
            <span asp-validation-for="UserName" class="text-red-400"></span>
            <label class="label">
                <span class="label-text">City</span>
            </label>
            <input asp-for="City" type="text" placeholder="City" class="input input-bordered">

            <label class="label">
                <span class="label-text">Phone number</span>
            </label>
            <input asp-for="PhoneNumber" type="text" placeholder="Phone number" class="input input-bordered">

            <label class="label mt-10">
                <span class="label-text">Enter your password to save changes</span>
            </label>
            <input asp-for="Password" type="password" placeholder="Enter password" class="input input-bordered">
            <span asp-validation-for="Password" class="text-red-400"></span>


            <div class="flex gap-2 justify-end">
                <button type="submit" class="btn btn-success mt-3">Update</button>
            </div>
        </form>
    </div>
</div>